@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;

  table {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #fda520;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1),
      0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05),
      0px 30px 20px rgba(0, 0, 0, 0.05);
    tr {
      &:hover {
        background: #f4f4f4;

        td {
          color: #555;
        }
      }
    }
    th,
    td {
      color: #999;
      border: 1px solid #eee;
      padding: 12px 35px;
      border-collapse: collapse;
      max-width: 400px;
    }
    th {
      background: #fda520;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      &.last {
        border-right: none;
      }
    }
  }

  .paginate-restaurants {
    display: flex;
    justify-content: center;
  }
}
